<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>156744853082-1m189rq2hn6j4qqhidd5a17ub1sn3bpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156744853082-1m189rq2hn6j4qqhidd5a17ub1sn3bpd</string>
	<key>API_KEY</key>
	<string>AIzaSyCFweUaWe6QOq3_T7EuPiVmmOQjY7tirDI</string>
	<key>GCM_SENDER_ID</key>
	<string>156744853082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.alangavr.MovieQuotes</string>
	<key>PROJECT_ID</key>
	<string>movie-quotes-56f19</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-quotes-56f19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156744853082:ios:4ff616b5f0333ccc</string>
	<key>DATABASE_URL</key>
	<string>https://movie-quotes-56f19.firebaseio.com</string>
</dict>
</plist>